.header {
  max-height: 35vh;
  display: flex;
  padding: 20px;
   align-items: center;
   justify-content: space-evenly;
   border-bottom: 0.5px solid #61696b;
  }
  .header__logo {
    width: 108px;
    height: 40px;
  }
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
  li {
    margin-left: 80px;
    cursor: pointer;
  
  }
  
  @media screen {
  
  }
